@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

a,
button,
[role="button"],
[type="button"],
[type="submit"],
[type="reset"],
select,
summary,
label[for],
input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
}
